* {
  font-family: "Kodchasan", sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100dvw;
  height: 100dvh;

  background-color: #f5f5f5;
  color: #333;
}

.nav {
  ul {
    border-bottom: solid 4px coral;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float: left;
  }

  li div {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    cursor: pointer;
  }

  li div:hover:not(.active) {
    background-color: coral;
  }

  /* li:last-child {
    float: right;
  } */

  .active {
    background-color: coral;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  border: solid 2px coral;
  border-radius: 12px;
  padding-bottom: 1.5rem;
  overflow: hidden;

  #title {
    margin: 0;
    padding: 0.75rem 0.5rem;
    background-color: coral;
    text-align: end;
  }

  .form {
    input {
      padding: 0.5rem;
      border: solid 1px coral;
      border-radius: 4px;
    }

    button {
      background-color: coral;
      color: #f5f5f5;
      border: none;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      margin: 0.5rem;
    }
  }

  #content {
    margin: 1.5rem;
  }
}

/* dark mode with media query */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #f5f5f5;
  }
}
